@model Advocate.Models.SubGazetteViewModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/Admin/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-sm-8"><h4>Add New <b>Gazette Type</b></h4></div>
    <div class="col-sm-4">
        <button type="button" onclick="location.href='@Url.Action("index", "subgazette")'" class="btn btn-info btn-style float-lg-right"><i class="fa fa-arrow-left"></i> Back to list</button>
    </div>
</div>
<hr />
<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="gazetteName" class="control-label"></label>
                <select id="Country" asp-for="GazzetId" asp-items="@Model.GazzetList" class="form-control">
                    <option></option>
                </select>
                <span asp-validation-for="gazetteName" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="PartName" class="control-label"></label>
                <input asp-for="PartName" class="form-control" />
                <span asp-validation-for="PartName" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 pu">
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary float-lg-right" />
            </div>
        </div>
    </div>
</form>

